<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Shopping List</title>
  </head>
  <body>

    <header th:insert="fragments/header.html :: header"></header>

    <div id="add-list-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <form th:action="@{/add-list}" th:object="${shoppingList}" method="post">
            <label class="label">
              New List Name
              <input id="shoppingListName" class="input" type="text" name="shoppingListName" required>
            </label>
            <input type="submit" class="button is-primary" value="Create List">
            <button class="button is-text close-modal-btn">Cancel</button>
          </form>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div id="select-list-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <div class="select is-primary">
            <label class="label">
              <select id="list-select">
                <option th:each="list : ${lists}" th:text="${list.name}" th:value="${list.id}"></option>
              </select>
            </label>
          </div>
          <button id="confirm-select-list-btn" class="button is-primary">Select</button>
          <button class="button is-text close-modal-btn">Cancel</button>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div id="add-list-item-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <form th:action="@{/add-list-item}" th:object="${shoppingListItem}" method="post">
            <input type="hidden" th:value="${currentShoppingListId}" name="shoppingListId">
            <label class="label">
              Add New Item
              <input class="input" type="text" name="shoppingListItemContent" required>
            </label>
            <input type="submit" class="button is-primary" value="Add">
            <button class="button is-text close-modal-btn">Cancel</button>
          </form>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <main class="container">
      <article class="panel is-primary">
        <p class="panel-heading" th:text="${shoppingListName}"></p>
        <div class="panel-block">
          <p class="control">
            <button id="add-list-item-btn" class="button">Add</button>
          </p>
        </div>

        <a class="panel-block is-primary" th:each="listItem : ${listItems}" th:text="${listItem.content}"></a>

      </article>
    </main>

    <script src="/js/header.js"></script>
    <script src="/js/home.js"></script>

  </body>
</html>
