<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>Shopping List</title>
  </head>
  <body>

    <header th:insert="fragments/header.html :: header"></header>

    <main class="container">
      <h1>Welcome!</h1>
    </main>

    <script src="/js/header.js"></script>

  </body>
</html>
