<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Sign Up - Shopping List</title>
  </head>
  <body>
    <header th:insert="fragments/header.html :: header"></header>

    <div id="auth-container" class="container">
      <div th:if="${hasError}" class="notification is-danger is-light">
        <button class="delete"></button>
        <p th:text="${errorMessage}">Text ...</p>
      </div>

      <main class="login-box center">
        <form class="field" th:action="@{/signup}" th:object="${user}" method="post">
          <h1 class="title is-4">Sign Up</h1>

          <div class="control">
            <label class="label">
              Email
              <input class="input" type="email" name="email" required>
            </label>
          </div>

          <label class="label">
            Password
            <input id="password" class="input" type="password" name="password" required>
            <p class="help">Password needs to be at least 8 characters.</p>
          </label>

          <label class="label">
            Confirm Password
            <input id="confirmPassword" class="input" type="password" name="confirmPassword" required>
          </label>

          <div class="auth-submit">
            <input class="button is-primary" type="submit" value="Sign Up">
          </div>

          <p>Already have an account? <a href="/login">Log In</a></p>

        </form>
      </main>
    </div>

    <script src="/js/auth.js"></script>
  </body>
</html>
